[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "vault1155/lib/openzeppelin-contracts"]
	path = vault1155/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
